body { 
    background: url(../bg.png) no-repeat center center fixed;
    background-size: contain; 
    background-color: rgba(0,0,0,0.87);
    font-family: Roboto, Helvetica, Arial, sans-serif;
    margin: 0; 
    padding: 0;
}

#load { 
    color: rgba(0,0,0,0.4); 
    text-align: center; 
    font-size: 13px; 
}

@media (max-width: 600px) {
  body, #message { 
      margin-top: 0; 
      background: url(../bg.png); 
      box-shadow: none; 
    }
  body { 
      border-top: 16px solid #ffa100; 
    }
}