<template>
  <div class="hello">
      <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Gallery',
  data () {
    return {
      msg: 'This is the Gallery'
    }
  }
}
</script>
