<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <iframe src="https://discordapp.com/widget?id=213135137842397185&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0"></iframe>
    <!-- <div style="margin-left: 12%; margin-right: 12%; padding-top:50px;">
      <h3 style="text-align:left;">ABOUT US</h3>
      <p style="text-align:left;">{{ intro }}</p>
    </div> -->
  </div>
</template>

<script>
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to UCGC Website !!Under Development!!',
      intro: 'It is our mission to create a community that nurtures the growth of competitive gaming, provides a home for gamers to create relationships and experiences in, and empower each individual to make their own mark within the gaming world.'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}

body {
  background-repeat: no-repeat;
}
</style>
