<template>
  <div class="hello">
      <h1>{{ msg }}</h1>
  </div>
</template>

<script>
export default {
  name: 'Sponsor',
  data () {
    return {
      msg: 'This is the Sponsors'
    }
  }
}
</script>
