<template>
<div class="app">
  <div id="app-body"> 
    <img id="logo" src="./assets/UCGC_logo.png">
    <router-view/>
  </div>
</div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
#app-body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 40px;
}

#logo {
  width: 125px;
  height: 125px;
}

body {
  background-image: url('./assets/background_blur.png');
  background-size: 100%, 100%, cover;
  background-color: #081B56;
}
</style>